@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-size: 16px;
    font-family: 'Roboto', Tahoma, sans-serif;
    letter-spacing: 2px;
    font-weight: normal;
    color: rgb(15, 14, 14);
    background: rgb(233, 231, 230);
}

a {
    color: #0f0e0e;
    transition: all .2s;
    text-decoration: none;
}

a:hover {
    font-size: 3rem;
    text-decoration: underline;
}

a:visited { 
    color: silver; 
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text h3 {
    font-style: italic;
    font-weight: bold;
    color: rgb(156, 157, 160);
    margin-left: 20px;
}

.card {
    margin-bottom: 10px;
    border: 2px solid rgb(58, 55, 55);
    border-bottom-right-radius: 10px;
    padding: 5px 8px;
}

.contacts{
    background-color: #DCDCDC;
}

.hobby{
    background-color: rgb(211, 211, 211);
}

.list li {
    color:#5e5b5b;
    margin-bottom: 5px;
}

.job{
    background-color: Silver;
}

.container {
    max-width: 1900px;
    margin: auto;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    padding: 4px;
}

.photo {
    margin-left: 15px;
    border: 2px solid rgb(58, 55, 55);
    box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.55); 
    width: 200px;
    height: 192px;
}

.btn {
    background: rgb(211, 211, 211);
    font-size: 2rem;
    padding: 10px 10px;
    color: #111;
    border: none;
    cursor:pointer;
    border-radius: 5px;
    font-family: inherit;
}

.btn:hover {
    opacity: .8;
    border: 2px solid rgb(58, 55, 55);
}

.table td {
    text-align: center;
    padding-bottom: 10px;
    border: 1px solid #111;
}

.table td:nth-child(1), .table td:nth-child(3) { 
    background: #DCDCDC;
}

.form h2 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    margin-right: 20px;
    width: 50%;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: rgb(15, 14, 14);
}

.form textarea::placeholder, input::placeholder {
    font-size: 10px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

@media (max-width: 510px) { 
    .info  {
        display: block;
    }
   
    .table {
        font-size: 8px;
    }
}
